* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
:root {
  /*
  Primary
  */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /*Neutral*/
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
body {
  margin: 4em 13em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-items ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header-items ul li a {
  color: var(--dark-grayish-blue);
}
.menu-icon {
  display: none;
}
.header-items ul li a:hover {
  color: var(--soft-red);
}
.main-container {
  display: flex;
  margin-top: 3em;
  gap: 1.5em;
}
.left-container {
  width: 100%;
}
.left-container img {
  width: 100%;
}
.mobile-image {
  display: none;
}
.sub-left-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

.sub-left-container .first-sub-left-container {
  width: 50%;
}

.sub-left-container .first-sub-left-container h2 {
  font-size: 3.9em;
  font-weight: 700;
  line-height: 50px;
}

.sub-left-container .inner-left-right-container {
  width: 50%;
  font-size: 0.85em;
}
.right-container {
  width: 32rem;
  display: flex;
  padding: 1.5em;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}
.right-container .inner-right-container p:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

.right-container .inner-right-container span {
  line-height: 1.5em;
  color: var(--dark-grayish-blue);
}
.inner-left-right-container p {
  font-size: 1.3em;
  line-height: 1.9;
  color: var(--dark-grayish-blue);
}
h1 {
  font-size: 2em;
  color: var(--soft-orange);
}
.line {
  margin-top: 2em;
  margin-bottom: 2em;
  opacity: 0.3;
}
button {
  background-color: var(--soft-red);
  border: none;
  padding: 0.6em 2em;
  font-weight: 600;
  color: var(--very-dark-blue);
  text-transform: uppercase;
}

button:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  cursor: pointer;
  transition-duration: 1s;
}
.final-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  gap: 1.5em;
}
.final-text {
  display: flex;
  align-items: center;
}
.inner-final-container {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 10rem;
}

.inner-final-container img {
  width: 10rem;
  height: 10rem;
}

.final-container-sub-header:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.last-final-text {
  color: var(--dark-grayish-blue);
  line-height: 26px;
  font-size: 15px;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: var(--very-dark-blue);
  margin: 5px 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  padding: 1em;
  transition: right 0.3s ease-in-out;
}

.sidebar.open {
  right: 0;
}

.sidebar .close-button {
  background: none;
  border: none;
  color: var(--off-white);
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
}
.close-button img {
  right: 0;
  margin-left: 10em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 1.5em;
}

.sidebar ul li a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  font-size: 20px;
  padding: 0.5em;
  font-weight: 500;
}

.sidebar ul li a:hover {
  color: var(--soft-red);
}

@media only screen and (max-width: 500px) {
  body {
    margin: 1em 1em;
  }
  .menu-icon {
    display: block;
  }
  .header-items {
    display: none;
  }
  .main-container {
    flex-direction: column;
    gap: 2.5em;
    margin-top: 2em;
  }
  .sub-left-container {
    flex-direction: column;
    gap: 0;
  }
  .mobile-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }

  .sub-left-container {
    gap: 1em;
  }

  .sub-left-container .first-sub-left-container {
    width: 100%;
  }

  .sub-left-container .inner-left-right-container {
    width: 100%;
    font-size: 11px;
    margin-top: -4em;
  }

  .sub-left-container .first-sub-left-container h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 10px;
  }

  .right-container {
    width: 100%;
    padding: 1.5em;
  }
  .final-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
  }
  .inner-final-container img {
    width: 30%;
  }

  .inner-final-container {
    display: flex;
    align-items: center;
    gap: 1em;
    height: auto;
  }

  .inner-final-container img {
    height: auto;
  }

  .inner-final-container {
    width: 100%;
    gap: 1em;
  }
  .last-final-text {
    line-height: 16px;
    font-size: 14px;
  }
  .menu-icon {
    display: block;
  }

  .mobile-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
  body {
    margin: 1em 1em;
  }

  .menu-icon {
    display: block;
  }
  .header-items {
    display: none;
  }
  .main-container {
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
  }

  .sub-left-container {
    flex-direction: column;
    gap: 0;
  }
  /*
  .mobile-image {
    display: block;
  }
  .desktop-image {
    display: none;
  }
  */

  .sub-left-container .first-sub-left-container {
    width: 100%;
  }

  .sub-left-container .inner-left-right-container {
    width: 100%;
    font-size: 11px;
    margin-top: -4em;
  }

  .sub-left-container .first-sub-left-container h2 {
    font-size: 54px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 10px;
  }

  .right-container {
    width: 100%;
    padding: 1.5em;
    gap: 0;
  }
  .right-container .inner-right-container h1 {
    font-size: 3em;
  }
  .right-container .inner-right-container p {
    font-size: 2em;
  }
  .right-container .inner-right-container span {
    font-size: 1.5em;
  }
  .inner-left-right-container p {
    font-size: 15px;
  }
  .final-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
  }

  .inner-final-container {
    display: flex;
    align-items: center;
    gap: 1em;
    height: auto;
  }

  .inner-final-container img {
    width: 20%;
  }
  .inner-final-container img {
    height: auto;
  }

  .inner-final-container {
    width: 100%;
    gap: 1em;
  }
  .menu-icon {
    display: block;
  }

  .mobile-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1286px) {
  body {
    margin: 1em 1em;
  }
}
